<!DOCTYPE html>
<html lang="en">
  <%- include("partial/header") %>

  <body class="bg-gray-200 ">
    <div class="col flex flex-col m-auto w-64">
      <h1 class="text-<%= colorTheme %>-500 text-center text-4xl my-8">
        Edit <%= username %>
      </h1>

      <form
        action="/admin/edit/<%= username %>"
        method="post"
        class="flex flex-col"
      >
        <input
          type="text"
          name="newName"
          id=""
          placeholder="New Username"
          class="rounded m-2 p-2 text-center"
        />
        <input
          type="email"
          name="newEmail"
          id=""
          placeholder="New Email"
          class="rounded m-2 p-2 text-center"
        />
        <input
          type="number"
          name="newTokens"
          id=""
          placeholder="New Total Token Amount"
          class="rounded m-2 p-2 text-center"
        />
        <label
          for="delete"
          class=" uppercase text-center text-lg text-red-500 m-2"
          >Delete this user? <input type="checkbox" name="delete" id="delete"
        /></label>
        <button
          type="submit"
          class=" cursor-pointer text-center mx-2 shadow py-2 px-8 text-2xl mt-5 mb-2 text-white font-bold bg-<%= colorTheme %>-500 rounded hover:bg-<%= colorTheme %>-600"
        >
          CONFIRM
        </button>
        <a
          href="/admin/user-list"
          class="cursor-pointer text-center mx-2 shadow py-2 px-8 text-2xl mt-2 mb-8 text-white font-bold bg-red-500 rounded hover:bg-red-600"
          >CANCEL</a
        >
      </form>
    </div>
  </body>
</html>
