<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="css/output.css" />
    <title>Document</title>
  </head>
  <body class="bg-gray-200 ">
    <!--     NAV BAR  
    -->

    <%- include("partial/nav") %>

    <!--     END OF NAV BAR
 -->

    <h1 class=" text-center text-indigo-500 text-4xl ">
      Hello, <%= username %>
    </h1>

    <div
      class="card  mx-6 flex flex-col my-16 max-w-4xl justify-around lg:mx-auto sm:flex-row  "
    >
      <div
        class="profile-card flex-col bg-white rounded-lg flex-1 shadow mr-2 "
      >
        <!--         <div class="profile-picture my-2 ">
          <img
            src="<%= defaultPicture %>"
            alt=""
            class="rounded-full h-24 w-24 mx-auto  -mt-12 top-0"
          />
        </div> -->
        <div class="wallet-amount">
          <h1 class=" text-3xl text-indigo-500 text-center mt-12">
            <%= tokens %> <%= tokenSymbol %>
          </h1>
        </div>

        <div class="buttons-wallet flex justify-center my-4">
          <a href="/send">
            <div
              class=" cursor-pointer mx-2 shadow px-4 py-2 mt-5 mb-8 text-white font-bold bg-indigo-500 rounded hover:bg-indigo-600"
            >
              SEND
            </div>
          </a>
          <a href="/claim">
            <div
              class="cursor-pointer mx-2 shadow px-4 py-2 mt-5 mb-8 text-white font-bold bg-indigo-500 rounded hover:bg-indigo-600"
            >
              CLAIM
            </div>
          </a>
        </div>
      </div>

      <!-- HISTORY -->

      <div class="history-card overflow-y-auto flex-1 bg-gray-200 rounded p-2 h-56 ">
        <% history.reverse() %>
        <% history.forEach(function(i){ %> <% if(user === i.fromUsername) { %>
        <p class="mx-2  font-bold text-red-500 bg-gray-300 rounded mb-3 p-2 text-center mt-3 sm:mt-auto">
          You sent <%= i.amount %>
          <%= tokenSymbol %>  to <span class="text-gray-800 font-normal "></span><%=
          i.toUsername %></span>
        </p>

        <% } else { %>

        <p class="mx-2 font-bold text-indigo-500 bg-gray-300 rounded mb-3 p-2 text-center mt-3 sm:mt-auto">
          <%= i.fromUsername %>
          sent you <%= i.amount %>
          <%= tokenSymbol %>
        </p>

        <% }; }) %>
      
    </div>
  </body>
</html>
