<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/6b7ea7f5e7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-gray-200 h-screen ">
    <div id="wrapper" class="flex flex-col justify-between h-full ">
      <%- include("partial/nav") %>

      <h1
        class=" text-center text-<%= colorTheme %>-500  invisible sm:visible sm:text-4xl "
      >
        Hello, <%= username %>
      </h1>

      <div
        class="card max-h-full max-w-4xl w-auto mx-6 flex flex-col my-16 justify-around sm:mt-16 lg:w-screen lg:mx-auto sm:flex-row  "
      >
        <div
          class="profile-card flex-col bg-<%= colorTheme %>-500 rounded sm:flex-1 shadow mr-2 "
        >
          <!--         <div class="profile-picture my-2 ">
          <img
            src=""
            alt=""
            class="rounded-full h-24 w-24 mx-auto  -mt-12 top-0"
          />
        </div> -->
          <div class="wallet-amount">
            <h1 class=" text-3xl text-white text-center mt-12">
              Your Wallet
            </h1>

            <h1 class=" text-4xl text-white text-center font-bold">
              <%= tokens %> <%= tokenSymbol %>
            </h1>
          </div>

          <div class="buttons-wallet flex justify-center my-8">
            <a href="/send">
              <div
                class=" cursor-pointer mx-2 shadow-lg py-2 px-8 text-2xl mt-5 mb-8 ml-5 text-white font-bold bg-<%= colorTheme %>-700 rounded hover:bg-<%= colorTheme %>-600"
              >
                SEND
              </div>
            </a>
            <a href="/claim">
              <div
                class="cursor-pointer mx-2 shadow-lg py-2 px-8 text-2xl mt-5 mb-8 mr-5 text-white font-bold bg-<%= colorTheme %>-700 rounded hover:bg-<%= colorTheme %>-600"
              >
                CLAIM
              </div>
            </a>
          </div>
        </div>

        <!-- HISTORY -->

        <div
          class="history-card min-h-full h-64 bg-gray-200 rounded px-2 overflow-y-scroll mt-5 sm:m-auto sm:self-center   "
        >
          <!--           <h2 class="text-center mb-3  text-<%= colorTheme %>-500 text-2xl ">
            HISTORY
          </h2> -->

          <% history.reverse() %> <% history.forEach(function(i){ %> <% if(user
          === i.fromUsername) { %>
          <a href="/transaction/<%= i._id %>">
            <p
              class="mx-2  font-bold text-white bg-red-500 shadow rounded mb-3 text-lg p-3 text-center mt-3 sm:mt-auto"
            >
              You sent <%= i.amount %> <%= tokenSymbol %> to <%= i.toUsername %>
              <% if(i.message){ %>
              <i class="far fa-envelope mx-2 fa-lg"></i>
              <% } %>
            </p>
          </a>

          <% } else { %>
          <a href="/transaction/<%= i._id %>">
            <p
              class="mx-2 font-bold text-white bg-green-500 shadow rounded mb-3 p-3 text-lg text-center mt-3 sm:mt-auto"
            >
              <%= i.fromUsername %> sent you <%= i.amount %> <%= tokenSymbol %>
              <% if(i.message){ %>

              <i class="far fa-envelope mx-2 fa-lg"></i>

              <% } %>
            </p>
          </a>

          <% }; }) %>
        </div>
      </div>
      <%- include("partial/footer") %>
    </div>
  </body>
</html>
