<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="css/output.css" />
    <title>Document</title>
  </head>
  <body class="bg-gray-200 h-screen ">
    <div id="wrapper" class="flex flex-col h-full">
      <!--     NAV BAR  
    -->

      <%- include("partial/nav") %>

      <!--     END OF NAV BAR
 -->

      <h1
        class=" text-center text-<%= colorTheme %>-500  invisible sm:visible sm:text-4xl "
      >
        Hello, <%= username %>
      </h1>

      <div
        class="card max-w-4xl w-auto  mx-6 flex flex-col my-16 sm:my-32 lg:w-screen  justify-around lg:mx-auto sm:flex-row  "
      >
        <div
          class="profile-card flex-col bg-<%= colorTheme %>-500 rounded-lg flex-1 shadow-lg mr-2 "
        >
          <!--         <div class="profile-picture my-2 ">
          <img
            src=""
            alt=""
            class="rounded-full h-24 w-24 mx-auto  -mt-12 top-0"
          />
        </div> -->
          <div class="wallet-amount">
            <h1 class=" text-3xl text-white text-center mt-12">
              Your Wallet
            </h1>

            <h1 class=" text-3xl text-white text-center mt-5 font-bold">
              <%= tokens %> <%= tokenSymbol %>
            </h1>
          </div>

          <div class="buttons-wallet flex justify-center my-4">
            <a href="/send">
              <div
                class=" cursor-pointer mx-2 shadow px-6 py-2 mt-5 mb-8 text-white font-bold bg-<%= colorTheme %>-700 rounded hover:bg-<%= colorTheme %>-600"
              >
                SEND
              </div>
            </a>
            <a href="/claim">
              <div
                class="cursor-pointer mx-2 shadow px-6 py-2 mt-5 mb-8 text-white font-bold bg-<%= colorTheme %>-700 rounded hover:bg-<%= colorTheme %>-600"
              >
                CLAIM
              </div>
            </a>
          </div>
        </div>

        <!-- HISTORY -->

        <div
          class="history-card overflow-y-auto overflow-hidden flex-1 bg-gray-200 rounded p-2 h-64 "
        >
          <h2 class="text-center mb-3  text-<%= colorTheme %>-500 text-2xl ">
            HISTORY
          </h2>

          <% history.reverse() %> <% history.forEach(function(i){ %> <% if(user
          === i.fromUsername) { %>
          <p
            class="mx-2  font-bold text-red-500 bg-white shadow rounded mb-3 p-2 text-center mt-3 sm:mt-auto"
          >
            You sent <%= i.amount %> <%= tokenSymbol %> to <%= i.toUsername %>
          </p>

          <% } else { %>

          <p
            class="mx-2 font-bold text-<%= colorTheme %>-500 bg-white shadow rounded mb-3 p-2 text-center mt-3 sm:mt-auto"
          >
            <%= i.fromUsername %> sent you <%= i.amount %> <%= tokenSymbol %>
          </p>

          <% }; }) %>
        </div>
      </div>

      <%- include("partial/footer") %>
    </div>
  </body>
</html>
